body {
    background-image: url(../imagenes/fondo-verde-217279.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    padding: 10px;
    background-size: 3200px, auto;
}
img{
    border-radius: 25px;
    border-color : black;
    
}
.carousel-inner .item img {
    width: auto;
    margin: auto;
    height: auto;
    max-height: 300px;
}

