     .carousel-inner .item img {
            width: auto;
            margin: auto;
            height: auto;
            max-height: 300px;
        }
body {
    background-image: url(../imagenes/fondo-verde-217279.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    padding: 15px;
    background-size: 2800px, 2000px;
}
.divimg{
    width:2000px;
    align-content:center;
}
.imgtop{
    height:250px;
    width:1340px;
    padding: 5px 0 5px;
}
.jumbotron{
    padding:10px;
    border:10px;
    } 
 .menu1{
    padding:2px;      
}
.divvideo{
     border-color:red;
     border-radius:10px;
     align-content:center;

     height:350px; 

}

button, input {
    border: 2px;
    color: #668428;
    font-size: 12px;
    font-family: sans-serif;
    padding: 10px 12px;
    background: -moz-linear-gradient(center top, #CDEB8E 0%, #A5C956 100%) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cdeb8e), color-stop(100%,#a5c956));
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    text-shadow: 1px 1px 1px #E1FEA6;
    -moz-box-shadow: 0px 6px 0 #819F45;
    -webkit-box-shadow: 0px 6px 0 #819F45;
}
label{
    color: white;
}

video {
    border-radius: 48px 48px 48px 48px;
    -moz-border-radius: 48px 48px 48px 48px;
    -webkit-border-radius: 48px 48px 48px 48px;
    border: 0px solid #000000;
    
}
h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-family: "Times New Roman", Times, serif;
    font-family: "Courier New", Courier, monospace;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font: bold 12px
}
