body {

    background-image:url(../imagenes/fondo-verde-217279.jpg);
}

.centerElement {
    margin: auto;
    width: 90%;
    padding: 10px;
    text-align: center;
}

.jumbotron{

    background-color: rgba(0,0,0,0.7);
    color: orange;
    border-radius: 20px;

}

.jumbotron .centerElement{
    width:50%
}

.jumbotron .btn{

    background-color: orange;
    color: black;

}
.jumbotron .btn:hover{
        background-color: orangered;
        color: white;
    }

.label{
    background-color: orange;
    font-size: 15px;
    text-align: center;
    color: black;
}

.cartaSuperpuesta {
    position: absolute; 
}