
#divForm {
    margin: 0 auto;
}
.form-control {
    border-radius: 8px;
    border-color: #F05F40;
    border-width: 3px;
    margin: 0 auto;
    width: 78%;
}
body {
    background: url("../imagenes/fondo-verde-217279.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 30px;
}
th , h2{
    color: white;
}
form {
    cursor: pointer;
    display: block;
    width: 20%;
    margin: 0 auto;
}
centrar {
    

}


