body {
    background-image: url(../imagenes/fondo-verde-217279.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    padding: 15px;
    background-size: 2800px, 2000px;
}
.form-control {
    border-radius: 8px;
    border-color: #F05F40;
    border-width: 3px;
    margin: 0 auto;
    width: 78%;
    text-align: center;
}
body {
    padding-top: 30px;
}
th , h2{
    color: white;
}
form {
    cursor: pointer;
    display: block;
    width: 20%;
    margin: 0 auto;
}

.jumbotron {
    background-color: black;
    color: white;
    text-align: center;
}


