
.form-control {
    border-radius: 8px;
    border-color: #F05F40;
    border-width: 3px;
    margin: 0 auto;
    width: 78%;
    text-align: center;
}
body {
    padding-top: 30px;
}
th , h2{
    color: white;
}
form {
    cursor: pointer;
    display: block;
    width: 20%;
    margin: 0 auto;
}

.jumbotron {
    background-color: black;
    color: white;
    text-align: center;
}


