


body {
    background-image: url(../imagenes/../imagenes/fondo-verde-217279.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    padding: 15px;
    background-size: 3300px, contain;
}
.color {
    color: black;
    font-weight: bold;
    font-size: medium;
}
img {
    border-radius: 8px;
}