 


   body {
   background-image: url(../imagenes/Blackjack_board.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    padding: 15px;
    background-size: auto, contain;
}
 .color{
       color: black ;
       font-weight:bold;
       text-shadow:3px -3px 2px #000;
       font-size: 1em;
   }
img {
    border-radius: 8px;
}